<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulario y Tabla de Créditos</title>
        <link rel="stylesheet" href="../styles/styles.css">
    </head>
    <body>

        <div class="container">
            <div class="login-form">
                <h1>Aplicar al Crédito</h1>
                <form id="creditForm">
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="name" required>
                    <br>
                    <label for="amount">Monto del Crédito:</label>
                    <input type="number" id="amount" name="amount" step="0.01" required>
                    <br>
                    <label for="term">Plazo (en meses):</label>
                    <input type="number" id="term" name="term" required>
                    <br>
                    <label for="monthlyIncome">Ingreso Mensual:</label>
                    <input type="number" id="monthlyIncome" name="monthlyIncome" step="0.01" required>
                    <br>
                    <button type="submit" class="btn">Aplicar</button>
                </form>
            </div>    
            
            <div class="credits-section">
                <h2>Mis Créditos</h2>
                <table id="creditsTable" border="1">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Monto</th>
                            <th>Plazo</th>
                            <th>Tasa de Interés</th>
                            <th>Ingreso Mensual</th>
                            <th>Estado</th>
                            <th>Fecha de Creación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- datos de los créditos -->
                    </tbody>
                </table>
            </div>    
        </div>    

        <script src="../javascript/credit.js"></script>
    </body>
</html>
