<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todos los Créditos</title>
        <link rel="stylesheet" href="../styles/styles.css">
    </head>
    <body>
        <div class="credits-section-admin">
            <h1>Créditos</h1>
            <table id="creditsTable" border="1">
                <thead>
                    <tr>
                        <th>Nombre Usuario</th>
                        <th>Email Usuario</th>
                        <th>Documento Usuario</th>
                        <th>Tipo de Documento</th>
                        <th>Crédito</th>
                        <th>Monto</th>
                        <th>Plazo</th>
                        <th>Tasa de Interés</th>
                        <th>Ingreso Mensual</th>
                        <th>Estado</th>
                        <th>Fecha de Creación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se insertarán las filas con los datos de los créditos -->
                </tbody>
            </table>
        </div>    

        <script src="../javascript/homeadmin.js"></script>
    </body>
</html>
